app-top-bar {
  background-color: red;
}

.container {
  background-color: orange;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
